{% extends 'base.html.twig' %}
{% block title %}
    Car34 - Service registration
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/orderRegistration.js') }}"></script>
{% endblock %}
{% block body %}
    <div id = "menu">
        Choose a car from your profile or input other<br /><br />
        {% if error is defined %}
            {{ error }}<br /><br />
        {% endif %}
        {% if cars %}
            <table align="center" bgcolor="gray">
                <tr>
                    <th>NumberPlate</th>
                    <th>Model</th>
                    <th>EngineType</th>
                    <th>Transmission</th>
                    <th>Power kW</th>
                    <th>Choose</th>
                </tr>
                {% for car in cars %}
                <tr>
                    <td>{{ car.numberPlate }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.engineType }}</td>
                    <td>{{ car.transmission }}</td>
                    <td>{{ car.power }}</td>
                    <td><button type="button" class="carChoice">Select</button></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            No cars available in your profile.<br />
        {% endif %}
        <br />

        {{ form_start(form) }}
            {{ form_row(form.numberPlate) }}
            {{ form_row(form.model) }}
            {{ form_row(form.engineType) }}
            {{ form_row(form.transmission) }}
            {{ form_row(form.power) }}
            <br />
            Check which services you want to apply for your car: <br /><br />
            <table align="center" bgcolor="gray" id>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Duration</th>
                    <th>Select</th>
                </tr>
                {% for service in services %}
                    <tr>
                        <td>{{ service.name }}</td>
                        <td>{{ service.cost }}</td>
                        <td>{{ service.duration }}</td>
                        <td><input type="checkbox" name="student_ids[]" class="serviceCheckBox" value="{{ service.id ~ ';' ~ service.cost ~ ';' ~ service.duration }}"><br></td>
                    </tr>
                {% endfor %}
            </table>
            <p id="totalPriceAndDuration"></p>
            {{ form_row(form.submit, { 'label': 'Apply for service' }) }}
        {{ form_end(form) }}

        <br />
        <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
    </div>
{% endblock %}
