<!DOCTYPE html>
<html>
    <head>
	{% block head %}
        	<meta charset="UTF-8">
    	    	<title>{% block title %}Car34 - Repair service{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <link href="{{ asset('assets/css/test.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   	     	{% block stylesheets %}{% endblock %}
	{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
	    {% block footer %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div id="base">
                    Hello, <b>{{ app.user.username }}</b>. Your email: <b>{{ app.user.email }}</b>. Last login time:  <b>{{ app.user.lastLoginTime|date("Y/m/d H:i:s") }}</b>
                    Role: <b>{% if app.user.role == 1 %}Client{% elseif app.user.role == 2 %}Mechanic{% elseif app.user.role == 3 %}Admin{% else %}Unknown{% endif %}</b> <br />
                    Your profile: <a href="{{ path('profile') }}"><b>{{ app.user.username }}</b></a>
                    <div id="warning">{% if app.user.profile.name == null or app.user.profile.phoneNumber == null %}&nbsp;&nbsp;Warning!! Missing profile information{% endif %}</div>
                    <div id="logOut"><a href="{{ logout_path() }}">Log out</a></div>
                </div>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
