<!DOCTYPE html>
<html lang="en">
    <head>
	{% block head %}
        <title>{% block title %}Car34 - Repair service{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Favicon and styles-->
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/test.css') }}" rel="stylesheet">
        <!--Boostrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--Font-->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <!-- Popper.js, Bootstrap.js, jQuery.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   	     	{% block stylesheets %}{% endblock %}
	{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
	    {% block footer %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div id="base">
                    Hello, <b>{{ app.user.username }}</b>. Your email: <b>{{ app.user.email }}</b>. Last login time:  <b>{{ app.user.lastLoginTime|date("Y/m/d H:i:s") }}</b>
                    Role: <b>{% if app.user.role == 1 %}Client{% elseif app.user.role == 2 %}Mechanic{% elseif app.user.role == 3 %}Admin{% else %}Unknown{% endif %}</b> <br />
                    Your profile: <a href="{{ path('profile') }}"><b>{{ app.user.username }}</b></a>
                    <div id="warning">{% if app.user.profile.name == null or app.user.profile.phoneNumber == null %}&nbsp;&nbsp;Warning!! Missing profile information. Appliance for a service is unavailable{% endif %}</div>
                    <div id="logOut"><a href="{{ logout_path() }}">Log out</a></div>
                </div>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
