{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id = "menu">
    {% if app.user.role == 2 %}
        <h1>Client list</h1>
        <a href="{{ path('index') }}">{{ 'Back to main menu' }}</a><br />
        <table align="center" bgcolor= "gray">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Last login</th>
                <th>Is Active</th>
                <th>Delete</th>
            </tr>
        {% for user in users %}
            {% if user.isDeleted == false %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.lastLoginTime|date("Y/m/d H:i:s") }}</td>
                    <td>
                        {% if user.isActive == true %} <a href="{{ 'changeIsActive/' ~ user.id }}">{{ 'deactivate' }}</a>
                        {% else %} <a href="{{ 'changeIsActive/' ~ user.id }}">{{ 'activate' }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.isDeleted == true %} deleted
                        {% else %} <a href="{{ 'deleteUser/' ~ user.id }}"><img src = "{{ asset('assets/images/x.png') }}" alt="Delete service type" height="20" width="20"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <h1>You don't have permission to do that.</h1>
        <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
    {% endif %}
</div>
{% endblock %}
