{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if app.user %}
        <div id = "menu">
                <h1>{{ action }} service type</h1>
                {{ form(form, {'method': 'POST'}) }}
                <br />
                <a href="{{ path('editServiceTypes') }}">{{ 'Back to all services' }}</a>
        </div>
    {% endif %}
{% endblock %}
