{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
        <div id = "menu">
            {# alerts rendering #}
            {% set formErrors = form.vars.errors.form.getErrors(true) %}
            {{ parent() }}

            {% if app.user.role == 3 or app.user.role == 2 %}
                <h1>Car34 - {{ action }} service type</h1>
                {{ form_start(form) }}
                <div class="col-sm-4 col-centered">
                    Name: {{ form_widget(form.name) }}<br />
                </div>
                <div class="col-sm-4 col-centered">
                    Cost: {{ form_widget(form.cost) }}<br />
                </div>
                <div class="col-sm-4 col-centered">
                    Duration: {{ form_widget(form.duration) }}<br />
                </div>
                {{ form_end(form) }}
                <br />
                <a href="{{ path('editServiceTypes') }}">{{ 'Back to all services' }}</a>
            {% else %}
                <h1>You don't have permission to do that.</h1>
            {% endif %}
        </div>
{% endblock %}
