{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id = "menu">
    {% if app.user.role == 2 %}
        <h1>Edit service types</h1>
        <a href="{{ path('index') }}">{{ 'Back to main menu' }}</a><br />
        <table align="center">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Duration</th>
                <th>Edit</th>
                <th>Is active</th>
                <th>Delete</th>
            </tr>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.cost }}</td>
                    <td>{{ service.duration }}</td>
                    <td><a href="{{ 'changeServiceType/' ~ service.id }}">{{ 'edit' }}</a></td>
                    <td>
                        {% if service.isActive == true %} <a href="{{ 'changeIsActiveServiceType/' ~ service.id }}">{{ 'deactivate' }}</a>
                        {% else %} <a href="{{ 'changeIsActiveServiceType/' ~ service.id }}">{{ 'activate' }}</a>
                        {% endif %} 
                    </td>
                    <td>
                        <a href="{{ 'deleteServiceType/' ~ service.id }}"><img src = "{{ asset('assets/images/x.png') }}" alt="Delete service type" height="20" width="20"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <a href = "{{ path('addServiceType') }}"><img src = "{{ asset('assets/images/plus.png') }}" alt="Add a new service type" height="30" width="30"></a>
    {% else %}
        <h1>You don't have permission to do that.</h1>
        <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
    {% endif %}



</div>
{% endblock %}
