{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Car34</h1>
            Welcome to Car34 car repairing service! You can plan an appointment, see your cars' status, and many other things here!<br />
            <br></br>
            <br></br>
            <a href="{{ path('register') }}"><div class = 'button'>{{ 'Create a new account' }}</div></a> || <a href="{{ path('login') }}"><div class = 'button'>{{ 'Login' }}</div></a><br /><br />
            <a href="{{ path('faq') }}">{{ 'Frequently Asked Questions' }}</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isActive %}
            <h1>Car34 - User menu</h1>
            <a href="{{ path('changePassword') }}">{{ 'Change password' }}</a><br />
            {% if not app.user.profile.name == null or not app.user.profile.phoneNumber == null %}
                <a href="{{ path('serviceRegistration') }}">{{ 'Register your car for a service' }}</a><br />
                <a href="{{ path('userRegisteredServices') }}">{{ 'Your registred services' }}</a>
            {% endif %}
            {% if app.user.role == 2 or app.user.role == 3 %}
                <br><br>
                <h1>Mechanic menu</h1>
                <a href="{{ path('editServiceTypes') }}">{{ 'Edit service types' }}</a><br />
                <a href="{{ path('registeredCars') }}">{{ 'Registered cars for services' }}</a>
            {% endif %}
            {% if app.user.role == 3 %}
                <br><br>
                <h1> Admin menu </h1>
                <a href="{{ path('clientListReview') }}">{{ 'See all clients' }}</a>
            {% endif %}

        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') and not app.user.isActive %}
            <h1>Car34 - User menu</h1>
            User not active. Click activation link in e-mail before using this account.
        {% endif %}

    </div>
{% endblock %}
