{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
        <h1>User profile</h1>
        {% if error is defined and error is not empty %}
            <div class="alert">
                <span class="closeAlertButton">&times</span>
                <strong>Error: </strong> {{ error }}
            </div>
        {% endif %}
        <div id = "profile">
            First name: {{ app.user.profile.name }}<br />
            Second name: {{ app.user.profile.secondName }}<br />
            Email: {{ app.user.profile.email }}<br />
            Phone number: {{ app.user.profile.phoneNumber }}<br />
            Birth date: {{ app.user.profile.birthDate|date("Y/m/d") }}<br />
            <br />
            <a href="{{ path('editProfile') }}">{{ 'Edit profile' }}</a><br />
            <br />
            Owned cars list: <a href="{{ path('addCar') }}">{{ 'Add car' }}</a><br />
            {% if app.user.profile.cars|length > 0 %}
                <table align="left" bgcolor="gray">
                    <tr>
                        <th>NumberPlate</th>
                        <th>Model</th>
                        <th>EngineType</th>
                        <th>Transmission</th>
                        <th>Power kW</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for car in app.user.profile.cars %}
                        <tr>
                            <td>{{ car.numberPlate }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.engineType }}</td>
                            <td>{{ car.transmission }}</td>
                            <td>{{ car.power }}</td>
                            <td><a href="{{ 'editCar/' ~ car.numberPlate }}">{{ 'Edit' }}</a></td>
                            <td>
                                <a href="{{ path('deleteCar', { 'id': car.numberPlate }) }}"><img src = "{{ asset('assets/images/x.png') }}" alt="Delete car" height="20" width="20" align="center"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                &nbsp;&nbsp;No cars registered
            {% endif %}
        </div>
        <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
    </div>
{% endblock %}
