{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id = "menu">
    Car34 - Registered cars for service list<br />
    <br />
    <table align="center" bgcolor="gray">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Car model</th>
            <th>Services</th>
            <th>Mark as done</th>
        </tr>
        {% for element in data %}
            <tr>
                <td>{{ element.name }} {{ element.secondName }}</td>
                <td>{{ element.startDate|date("Y/m/d") }}</td>
                <td>{{ element.model }}</td>
                <td>
                    <a href="{{ 'showServices/' ~ element.id}}">{{ 'Services' }}</a>
                </td>
                <td>
                    <a href="{{ 'changeIsDoneOrder/' ~ element.id }}">{{ 'Select' }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(data, null, {}, {
            'size': 'small'
        }) }}
    </div>
    <br />
    <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
</div>
{% endblock %}
