{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
    <h1>Car34 - Remind password</h1>
        {% if error is defined and error is not empty %}
            <div class="alert">
                <span class="closeAlertButton">&times</span>
                <strong>Error:</strong> {{ error }}
            </div>
        {% endif %}

        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert">
                <span class="closeAlertButton">&times</span>
                <strong>Error: </strong> {{ error.message|striptags }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            New password: {{ form_widget(form.password.first) }}<br /><br />
            Repeat new password: {{ form_widget(form.password.second) }}<br /><br />
        {{ form_end(form) }}

    {{ form(form, {'method': 'POST'}) }}
    <a href = "{{ path('login') }}">Back to login page</a>
    </div>
{% endblock %}
