{% extends "base.html.twig" %}
{% block stylesheets %}
        <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
        <div id = "menu">
            {% if app.user %}
                <h1>Car34 - Your services list</h1>
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                                <th>Order ID</th>
                                <th>Name</th>
                                <th>Cost</th>
                                <th>Duration</th>
                                <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for repair in repairs %}
                            {% if order.id == repair.getOrder.getId %}
                                <tr>
                                    <td>{{ repair.getId }}</td>
                                    <td>{{ repair.getname }}</td>
                                    <td>{{ repair.getCost }} €</td>
                                    <td>{{ repair.getDuration }}
                                        {% if repair.getDuration == 1 %}
                                            hour
                                        {% else %}
                                            hours
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if repair.getIsDone %}
                                            Done
                                        {% else %}
                                            In progress
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                    <h1>You don't have permission to do that.</h1>
                    <a href="{{ path('userRegisteredServices') }}">{{ 'Back to main menu' }}</a><br />
            {% endif %}
            <a href="{{ path('userRegisteredServices') }}">{{ 'Back services' }}</a><br />
        </div>
{% endblock %}
