{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id = "menu">
    {% if app.user %}
        <h1>Registred services list</h1>
        <a href="{{ path('index') }}">{{ 'Back to main menu' }}</a><br />
        <table align="center" bgcolor= "gray">
            <tr>
                <th>{{ knp_pagination_sortable(services, 'Date', 'o.startDate') }}</th>
                <th>{{ knp_pagination_sortable(services, 'Car model', 'c.model') }}</th>
                <th>Service</th>
                <th>{{ knp_pagination_sortable(services, 'Is Done', 'o.id') }}</th>
            </tr>
            {% for service in services %}
                <tr>
                    <td>{{ service.startDate|date("Y-m-d") }}</td>
                    <td>{{ service.model }}</td>
                    <td><a href="{{ 'showUserServices/' ~ service.id}}">{{ 'Services' }}</a></td>
                    <td> {% if service.id == true %} Done </a>
                        {% else %} Not done</a>
                        {% endif %} </td>
                </tr>
            {% endfor %}
        </table>
        <br />
        {{ knp_pagination_render(services, null, {}, {
            'size': 'small'
        }) }}
        <br />
    {% else %}
        <h1>You don't have permission to do that.</h1>
        <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>
    {% endif %}
</div>
{% endblock %}
