{% extends "base.html.twig" %}
{% block title %}
    Car34 - Registration
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
        <h1>Car34 - Register</h1>
        {{ form_start(form) }}
            {{ form_errors(form.username) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.password.first) }}

            Username: {{ form_widget(form.username) }}<br /><br />
            Email: {{ form_widget(form.email) }}<br /><br />
            Password: {{ form_widget(form.password.first) }}<br /><br />
            Repeat password: {{ form_widget(form.password.second) }}<br /><br />
            {{ form_row(form.isAgreedWithTOSChecked) }}<br />
            {{ form_row(form.submit) }}
        {{ form_end(form) }}<br /><br />
        <a href = "{{ path('login') }}">Already have an account? Login</a>
    </div>
{% endblock %}
