{% extends "base.html.twig" %}
{% block title %}
    Car34 - Registration
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
        <h1>Car34 - Registration</h1>
        {# alerts rendering #}
        {% set formErrors = form.vars.errors.form.getErrors(true) %}
        {{ parent() }}
        {{ form_start(form, {attr: {class: 'form-group'}}) }}
            <div class="col-sm-5 col-centered">
                Username: {{ form_widget(form.username, { attr: {placeholder:'KTU'}}) }}<br />
            </div>
            <div class="col-sm-5 col-centered">
                Email: {{ form_widget(form.email, { attr: {placeholder:'example@ktu.lt'}}) }}<br />
            </div>
            <div class="col-sm-5 col-centered">
                Password: {{ form_widget(form.password.first, { attr: {placeholder:'******'}}) }}<br />
            </div>
            <div class="col-sm-5 col-centered">
                Repeat password: {{ form_widget(form.password.second, { attr: {placeholder:'******'}}) }}
            </div>
            <br />
            {{ form_row(form.isAgreedWithTOSChecked) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <a href = "{{ path('login') }}">Already have an account? Login</a>
    </div>
{% endblock %}
